:root{
  --Soft-blue: hsl(215, 51%, 70%);
  --Cyan: hsl(178, 100%, 50%);
  --Cyan-unfocused: hsla(178, 100%, 50%, 50%);

  --Very-dark-blue-main-BG: hsl(217, 54%, 11%);
  --Very-dark-blue-card-BG: hsl(216, 50%, 16%);
  --Very-dark-blue-line: hsl(215, 32%, 27%);
  --White: hsl(0, 0%, 100%);
  --shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
}
body{
  background-color: var(--Very-dark-blue-main-BG);
}
.container{
  background-color: var(--Very-dark-blue-main-BG);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-content{
  background-color: var(--Very-dark-blue-card-BG);
  width: 300px;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  box-shadow: var(--shadow);
}
.box-image{
  position: relative;
  width: 300px;
}
.main-image{
  width: 100%;
  height: 100%;
  border-radius: 8px;
}
.box-image-two{
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0px;
  background-color: var(--Cyan-unfocused);
  border-radius: 8px;
  cursor: pointer;
}
.box-image-two .icon-view{
  position: relative;
  left: 105px;
  top: 105px;
}
.box-image:hover .box-image-two{
  display: block;
}
.container-content .title{
  color: var(--White);
  font-family: 'Outfit', sans-serif;
  font-weight: 600;
  font-size: 20px;
  margin: 15px 0px;
}
.title:hover{
  color: var(--Cyan);
  cursor: pointer;
  transition: 0.5s;
}

.container-content .description{
  font-family: 'Outfit', sans-serif;
  font-weight: 300;
  color: var(--Soft-blue);
  margin-bottom: 20px;
  flex-basis: 260px;
}
.box-itens{
  width: 300px;
  display: flex;
  justify-content: space-between ;
  border-bottom: 1px color(var(--Very-dark-blue-line));
  margin-bottom: 20px;
  font-family: 'Outfit', sans-serif;
}
.box-itens .eth{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  color: var(--Cyan);
  
}
.box-itens .days{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  color: var(--Soft-blue);
  font-weight: 300;
}
.line{
  width: 100%;
  border-bottom: 1px solid var(--Very-dark-blue-line);
  margin-bottom: 15px;
}
.description-avatar{
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--Soft-blue);
  font-family: 'Outfit', sans-serif;
  font-weight: 300;
  font-size: 14px;
}
.description-avatar .image-avatar{
  border: 1px solid var(--White);
  border-radius: 50%;
  width: 25px;
  margin-right:15px;
}
.name-avatar{
  margin-left: 5px;
  color: var(--White);
}
.name-avatar:hover{
  color: var(--Cyan);
  cursor: pointer;
  transition: 0.5s;
}

.attribution {
  font-family: 'Outfit', sans-serif;
  position: relative;
  bottom: 60px;
  font-size: 11px;
  text-align: center;
  color: var(--White);
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/*
font-family: 'Fraunces', serif;
font-family: 'Hanken Grotesk', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Outfit', sans-serif;
*/